.MultiDroppableBoxContainer {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.newDropTarget {
  align-items: center;
  display: flex;
  border: 2px dashed #AAAAAA;
  flex: 0.5;
}
